#wrapper {
	width: 1000px;
	margin: 0 auto;
}


#leftsideborder {
  float: left;
  width: 350px;
  background-image:url('leftborder.jpg');
  background-repeat: no-repeat;
  text-align: center;

}


#rightside{
	float: right;
	width: 650px;
}



body {
	font-family: Georgia, Arial;
}

p {
	margin-top: 200px;
	margin-left: -15px;
	line-height: 0px;
}

a img {
	display: block;
	margin-top: 85px;
	margin-left: 50px;
}

li{
	list-style-type: disc;
	list-style-position: outside;
	text-indent: -1em;
	margin-left: 30px;

}

ul li{
	list-style-type: disc;
	list-style-position: outside;
	text-indent: 0em;
}


